@charset "UTF-8";
<style>
	.container {
		width:600px;
		margin:0 auto;
	}
	ul {
		list-style-type: none;
	}
	label.title {
		font-weight : bold;
		width: 80px;
		float: left;
	}
	div.centered {
		text-align: center;
	}
	fieldset {
		margin: 15px 10px;
	}
	filedset legend {
		font-weight: bold;
		font-size: 18px;
		color: purple;
	}
	ul li {
		margin-bottom: 10px;
	}
</style>